.main-home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 25vh;
}

.home-title-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  pointer-events: none;
  position: relative;
  text-align: center;
  width: fit-content;
}

.home-title {
  color: black;
  font-family: star-wars , Courier New , Courier , monospace;
  font-size: 8rem;
  letter-spacing: 0.7ch;
  line-height: 2ch;
  padding-left: 1.85vw;
  text-shadow: 2px 0 var(--fontYellow) , -2px 0 var(--fontYellow) , 0 2px var(--fontYellow) , 0 -2px var(--fontYellow) , 1px 1px var(--fontYellow) , -1px -1px var(--fontYellow) , 1px -1px var(--fontYellow) , -1px 1px var(--fontYellow);
}

.home-x-wing {
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(-110%, -50%);
  width: 18vw;
}

.home-TIE {
  bottom: 0;
  position: absolute;
  right: 0;
  rotate: -25deg;
  transform: translate(100%, 50%);
  width: 10vw;
}

.home-nav {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
}

.home-button {
  background: black;
  border: 1px solid #ffe8198f;
  border-radius: 2.5rem;
  color: var(--fontLGrey);
  font-family: star-wars-btn , Courier New , Courier , monospace;
  font-size: 1.8rem;
  letter-spacing: 0.6ch;
  margin-top: 6vh;
  padding: 1.1em 1em 1em 1.5em;
}

.rules-txt { font-family: Epilogue , sans-serif;}
